# Dependency directories
/node_modules

# sources removed
/src
package.json
package-lock.json
webpack.config.js

# Logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*~
