<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moto Guzzi Club Serbia</title>
  <script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0"></script>
</head>
<body class="background-home">
<header>
  <a href="/" class="logo">
    <img src="<%= require('../assets/images/motoguzziclubserbia_logo0.png') %>" alt="Logo" />
  </a>
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./about.html" class="nav-link" id="nav-link-1">nav-link-1</a>
        <ul class="dropdown">
          <li><a href="./brand-history.html" id="nav-link-2">nav-link-2</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="./club-membership.html" class="nav-link" id="nav-link-3">nav-link-3</a>
      </li>
      <li class="nav-item">
        <a href="./event-calendar.html" class="nav-link" id="nav-link-4">nav-link-4</a>
      </li>
      <li class="nav-item">
        <a href="./motorcycle-models-info.html" class="nav-link" id="nav-link-5">nav-link-5</a>
        <ul class="dropdown">
          <li><a href="./motorcycle-models-current.html" id="nav-link-6">nav-link-6</a></li>
          <li><a href="./motorcycle-models-all.html" id="nav-link-7">nav-link-7</a></li>
          <li><a href="./motorcycle-models-oldtimer.html" id="nav-link-8">nav-link-8</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="./news.html" class="nav-link" id="nav-link-9">nav-link-9</a>
      </li>
      <li class="nav-item">
        <a href="./links.html" class="nav-link" id="nav-link-10">nav-link-10</a>
      </li>
      <li class="nav-item">
        <a href="./international.html" class="nav-link" id="nav-link-11">nav-link-11</a>
      </li>
    </ul>
  </nav>
  <div class="language-switcher-container">
    <ul>
      <li class="nav-item">
        <a class="nav-link" id="language-switcher"></a>
        <ul class="dropdown" id="language-switcher-menu"></ul>
      </li>
    </ul>
  </div>
</header>
<main>
  <h1 id="main-title-event-calendar">main-title-event-calendar</h1>

  <div class="calendar-nav-container">
    <div id="calendar-nav" class="calendar-nav">
      <button id="prev-month">&#12296;</button>
      <span id="calendar-title"></span>
      <button id="next-month">&#x27E9;</button>
    </div>
  </div>

  <div id="calendar-container">
    <table class="calendar-table">
      <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="event-container">
    <h2 id="event-title"></h2>
    <img id="event-thumbnail">
    <div id="event-fb-video"></div>
    <div id="event-description"></div>
  </div>
</main>
<footer>
  <div class="footer-container">
    <div class="footer-info-container">
      <div>
        <img src="<%= require('../assets/images/motoguzziclubserbia_logo0.png') %>" alt="Logo"/>
      </div>
      <span id="footer-info-title">footer-info-title</span>
      <span id="footer-copyright">footer-copyright</span>
    </div>
    <div class="footer-links-container">
      <h3 id="footer-links-title">footer-links-title</h3>
      <a href="https://www.facebook.com/groups/56004810608/" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/motoguzziserbia/" target="_blank">Instagram</a>
    </div>
  </div>
</footer>
</body>
</html>
