#calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  max-width: 700px;
}

.calendar-nav button {
  //padding: 5px 10px;
  font-size: 2rem;
  background: unset;
  border: unset;
  cursor: pointer;
  color: #fe3325;

  &:hover {
    color: #872218;
  }
}

.calendar-nav #calendar-title {
  font-size: 18px;
  font-weight: bold;
}

/* Calendar Table */
.calendar-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
  text-align: center;
  table-layout: fixed;
  //background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar-table th,
.calendar-table td {
  border: 1px solid #fe3325;
  padding: 10px;
  height: 50px;
  vertical-align: middle;
}

.calendar-table th {
  //background-color: #f4f4f4;
  font-weight: bold;
}

.calendar-table .prev-month,
.calendar-table .next-month {
  color: #872218;
}

tbody {
  td {
    span {
      display: block;
      margin-bottom: 5px;
    }

    a {
      display: block;
      font-size: 12px; // find a way to do better overflow
    }
  }
}

#calendar-container {
  table {
    td {
      a {
        color: #fe3325;
      }
    }

    td.has-event {
      background-color: #f1e4e478;
    }
  }
}

//.calendar-table .current-month {
//  color: #fe3325;
//}

.calendar-table, .calendar-nav-container {
  color: #fe3325;
}

.calendar-table .today {
  background-color: #afa6a678;
  //color: #fe3325;
  font-weight: bold;
}

#event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 10px 20px;

  #event-title {
    margin: 10px;
    color: #fe3325;
    text-align: center;
  }

  #event-thumbnail {
    margin: 10px;
    max-width: 300px;
  }

  #event-description {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  #calendar-container {
    table {
      thead {
        font-size: 10px;
      }

      td, th {
        padding: 0;
      }
    }
  }
}
